<html>
<head>
    <title>Add New Team Store</title>
</head>
<body>
<h1>Add New Store</h1>
<form action="/teamstore/insert" method="get">
    City: <input id="city" name="city" type="text" />
    Distributor Name: <input id="distr_name" name="distr_name" type="text" />
    Team Name: <input id="team_name" name="team_name" type="text" />
    <br />

    <input type="submit" />

</form>
</body>

</html>