<!DOCTYPE html>
<html>
  <head>
    <title><%= title %></title>
    <link rel='stylesheet' href='/stylesheets/style.css' />
  </head>
  <body>
    <h1><%= title %></h1>
    <p>Welcome to Dede's Project 2 Webpage "<%= title %>"</p>
    <br/>

    <p>Click the links below to view the data.</p>
     <a href="/team/all">Teams - View All</a> <br />
    <br />
    <a href="/merchSales/all">Orders - View All</a> <br />
    <br />
    <a href="/supplier/all">Suppliers - View All</a> <br />
    <br />
    <a href="/customer/all">Customers - View All</a> <br />
    <br />
    <a href="/distr/all">Distributors - View All</a> <br />
    <br />
    <a href="/teamstore/all">Team Stores - View All</a> <br />
    <br />
    <br />
    <br />
    <br />
  </body>

    <body2>To learn more about our website, visit our <a href="/school/all">About</a> page.</body2>


</html>
