<html>
<head>
    <title>Teams - <%= result[0].team_name %></title>
</head>
<body>
    <h1>Teams</h1>
    <ul>

        <li>Team Name: <%= result[0].team_name%></li>
        <h4>Players:</h4>
        <% for(var i=0; result.length > i; i++ ) { %>
                    <h8> - <%= result[i].player_name %>     </h8>
        <% } %>

</body>

</html>