<html>
<head>
    <title>Add New Team</title>
</head>
<body>
<h1>Add New Team</h1>
<form action="/team/insert" method="get">
    Team Name: <input id="team_name" name="team_name" type="text" />
    <br />

    <input type="submit" />

</form>
</body>

</html>