<html>
<head>
    <title>Teams - <%= result[0].team_name %></title>
</head>
<body>
    <h1>Teams</h1>
    <ul>
        <li>Team Id: <%= result[0].team_id%></li>
        <li>Team Name: <%= result[0].team_name %></li>

</body>

</html>