<html>
<head>
    <title>Distributors - <%= result[0].distr_name %></title>
</head>
<body>
    <h1>Distributors</h1>
    <ul>
        <li>Distributor ID: <%= result[0].distr_id%></li>
        <li>Distributor Name: <%= result[0].distr_name %></li>
    </ul>
</body>

</html>