<html>
<head>
    <title>Add New Distributor</title>
</head>
<body>
<h1>Add New Distributor</h1>
<form action="/distr/insert" method="get">
    Distributor Name: <input id="distr_name" name="distr_name" type="text" />
    <br />

    <input type="submit" />

</form>
</body>

</html>