<html>
<head>
    <title>Add A New Merchandise Sale</title>
</head>
<body>
<h1>Add A New Merchandise Sale</h1>
<form action="/merchSales/insert" method="get">
    Sale Date: <input id="sale_date" name="sale_date" type="text" />
    Distributor Name: <input id="distr_name" name="distr_name" type="text" />
    Customer ID: <input id="customer_id" name="customer_id" type="text" />
    <br />
    <br />


    <input type="submit" />

</form>
</body>

</html>