<html>
<head>
    <title>supplier - <%= result[0].supplier_name %></title>
</head>
<body>
    <h1>Suppliers</h1>
    <ul>
        <li>Supplier ID: <%= result[0].supplier_id%></li>
        <li>Supplier Name: <%= result[0].supplier_name %></li>
        <li>City: <%= result[0].city%></li>

    </ul>
</body>

</html>