<html>
<head>
    <title>Add New Supplier</title>
</head>
<body>
<h1>Add New Supplier</h1>
<form action="/supplier/insert" method="get">
    City: <input id="city" name="city" type="text" />
    Supplier Name: <input id="supplier_name" name="supplier_name" type="text" />
    <br />

    <input type="submit" />

</form>
</body>

</html>