<html>
<head>
    <title>Customers - <%= result[0].first_name %></title>
</head>
<body>
    <h1>Customers</h1>
    <ul>
        <li>Customer ID: <%= result[0].customer_id%></li>
        <li>Name: <%= result[0].first_name %></li>
        <li>Phone Number: <%= result[0].phone_number %></li>
    </ul>
</body>

</html>