<html>
<head>
    <title>Add New Customer</title>
</head>
<body>
<h1>Add New Customer</h1>
<form action="/customer/insert" method="get">
    Name: <input id="first_name" name="first_name" type="text" />
    Phone Number: <input id="phone_number" name="phone_number" type="text" />
    <br />

    <input type="submit" />

</form>
</body>

</html>